Titanic Survival Exploration with Decision Trees
-----

In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from IPython.display import display

# Pretty display for notebooks
%matplotlib inline

np.random.seed(42)

train_data = pd.read_csv('titanic_train.csv')
test_data = pd.read_csv('titanic_test.csv')

data = train_data.append(test_data, sort=False)

display(data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Features 
----

* **Survived: Outcome of survival (0 = No; 1 = Yes)**

* Pclass: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)

* Name: Name of passenger

* Sex: Sex of the passenger

* Age: Age of the passenger (Some entries contain NaN)

* SibSp: Number of siblings and spouses of the passenger aboard

* Parch: Number of parents and children of the passenger aboard

* Ticket: Ticket number of the passenger

* Fare: Fare paid by the passenger

* Cabin Cabin number of the passenger (Some entries contain NaN

* Embarked: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

In [2]:
#since we are interested on Survived or not Survived
outcome = data['Survived']

#remove Name and Survived from the dataframe
rawdata = data.drop(['Survived', 'Name'], axis=1)
display(rawdata.head())

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,3,male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# convert data into numeric value 
features = pd.get_dummies(rawdata)
display(features.head())

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Ticket_110152,Ticket_110413,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
# fill NaN value with 0 
features = features.fillna(0.0)
outcome = outcome.fillna(0.0)

display(features.head())

# check if there any null/NaN value
#display(outcome.isnull().sum().sum())

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Ticket_110152,Ticket_110413,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

Now we're ready to train a model in sklearn. First, split the data into training and testing sets. Then we'll train the model on the training set.

In [8]:
X_train, x_test, Y_train, y_test = train_test_split(features, outcome, test_size=0.20, random_state=42)
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

#prediction  
train_pred = model.predict(X_train)
test_pred = model.predict(x_test)

#accuracy 
train_acc = accuracy_score(Y_train, train_pred)
test_acc = accuracy_score(y_test, test_pred)

print('Training accuracy :', train_acc)
print('Testing accuracy :', test_acc)

Training accuracy : 1.0
Testing accuracy : 0.8473282442748091

### Improving the model 
----

we have high training accuracy and a lower testing accuracy. We may be overfitting a bit.

**Challenge:** Try to get to 85% accuracy on the testing set.

In [33]:
new_model = DecisionTreeClassifier(max_depth=8, min_samples_leaf=5, min_samples_split=10)

new_model.fit(X_train, Y_train)

#prediction  
train_pred = new_model.predict(X_train)
test_pred = new_model.predict(x_test)

#accuracy 
train_acc = accuracy_score(Y_train, train_pred)
test_acc = accuracy_score(y_test, test_pred)

print('Training accuracy :', train_acc)
print('Testing accuracy :', test_acc)

Training accuracy : 0.8958930276981852
Testing accuracy : 0.8625954198473282